In [1]:
import pandas as pd

Two data sets imported below: state population in 2019 and mass shootings in 2019.

In [4]:
dfpop = pd.read_csv('C:/Users/britt/Documents/Python/data2-knowledge-checks/data_3_checks/data_3_checks/2019_pop.csv')
dfshooting = pd.read_csv('C:/Users/britt/Documents/Python/data2-knowledge-checks/data_3_checks/data_3_checks/shootings_2019.csv')

Below, print column names for join.

In [6]:
print(dfpop.columns)
print(dfshooting.columns)

Index(['STATE', 'POPESTIMATE2019', 'lat', 'long'], dtype='object')
Index(['Date', 'State', 'Dead', 'Injured', 'Total', 'Description'], dtype='object')

In [7]:
combined_df = dfpop.merge(dfshooting,
                            how='left',
                            left_on='STATE',
                            right_on='State')
combined_df.head()

,STATE,POPESTIMATE2019,lat,long,Date,State,Dead,Injured,Total,Description
0,Alabama,4903185,32.377716,-86.300568,20/12/2019,Alabama,2.0,2.0,4.0,Two people were killed and two were injured in...
1,Alabama,4903185,32.377716,-86.300568,04/12/2019,Alabama,2.0,2.0,4.0,Two people were killed and two wounded in an a...
2,Alabama,4903185,32.377716,-86.300568,24/11/2019,Alabama,1.0,4.0,5.0,One person was killed and four others injured ...
3,Alabama,4903185,32.377716,-86.300568,02/09/2019,Alabama,5.0,0.0,5.0,A 14-year-old boy shot dead five family member...
4,Alabama,4903185,32.377716,-86.300568,01/09/2019,Alabama,0.0,7.0,7.0,Six adult males and a 15-year-old boy were wou...

Calculating average number killed by state in 2019 shootings.

In [10]:
combined_df[["STATE", "Dead"]].groupby("STATE").mean()

                          Dead
STATE
Alabama               1.416667
Alaska                     NaN
Arizona               1.200000
Arkansas              1.400000
California            1.250000
Colorado              0.500000
Connecticut           0.000000
Delaware              0.000000
District of Columbia       NaN
Florida               1.700000
Georgia               0.947368
Hawaii                3.000000
Idaho                      NaN
Illinois              0.804878
Indiana               0.750000
Iowa                  1.750000
Kansas                1.000000
Kentucky              1.200000
Louisiana             0.869565
Maine                      NaN
Maryland              0.714286
Massachusetts         1.750000
Michigan              1.083333
Minnesota             0.000000
Mississippi           1.125000
Missouri              0.800000
Montana               2.500000
Nebraska                   NaN
Nevada                0.333333
New Hampshire              NaN
New Jersey            0.928571
New Mexico            1.600000
New York              0.777778
North Carolina        1.400000
North Dakota               NaN
Ohio                  1.250000
Oklahoma              1.375000
Oregon                0.000000
Pennsylvania          0.500000
Rhode Island          2.000000
South Carolina        1.111111
South Dakota               NaN
Tennessee             0.428571
Texas                 2.250000
Utah                       NaN
Vermont                    NaN
Virginia              2.000000
Washington            2.333333
West Virginia         1.000000
Wisconsin             2.000000
Wyoming               2.000000