In [1]:
import pandas as pd

Two data sets imported below: state population in 2019 and mass shootings in 2019.

In [4]:
dfpop = pd.read_csv('C:/Users/britt/Documents/Python/data2-knowledge-checks/data_3_checks/data_3_checks/2019_pop.csv')
dfshooting = pd.read_csv('C:/Users/britt/Documents/Python/data2-knowledge-checks/data_3_checks/data_3_checks/shootings_2019.csv')

Below, print column names for join.

In [6]:
print(dfpop.columns)
print(dfshooting.columns)

Index(['STATE', 'POPESTIMATE2019', 'lat', 'long'], dtype='object')
Index(['Date', 'State', 'Dead', 'Injured', 'Total', 'Description'], dtype='object')

In [7]:
combined_df = dfpop.merge(dfshooting,
                            how='left',
                            left_on='STATE',
                            right_on='State')
combined_df.head()

,STATE,POPESTIMATE2019,lat,long,Date,State,Dead,Injured,Total,Description
0,Alabama,4903185,32.377716,-86.300568,20/12/2019,Alabama,2.0,2.0,4.0,Two people were killed and two were injured in...
1,Alabama,4903185,32.377716,-86.300568,04/12/2019,Alabama,2.0,2.0,4.0,Two people were killed and two wounded in an a...
2,Alabama,4903185,32.377716,-86.300568,24/11/2019,Alabama,1.0,4.0,5.0,One person was killed and four others injured ...
3,Alabama,4903185,32.377716,-86.300568,02/09/2019,Alabama,5.0,0.0,5.0,A 14-year-old boy shot dead five family member...
4,Alabama,4903185,32.377716,-86.300568,01/09/2019,Alabama,0.0,7.0,7.0,Six adult males and a 15-year-old boy were wou...